<!-- <div style=" display: flex;flex-direction: column;  position: fixed;  ">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark " style="height:100%;">


        <div >
            <ul class="navbar-nav  " style="display: flex;flex-direction: column;">
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
            </ul>

        </div>
    </nav>
</div> -->
<div style="display: flex; flex-direction: column;   height: 100vh; background-color: rgb(40, 209, 85);overflow-y: auto;">

<a class="nav-items" [ngClass]="{'active': selected === 'dashboard'}"  routerLink="/products" (click)="selectedTab('dashboard')" >Dashboard</a>
<a class="nav-items" [ngClass]="{'active': selected === 'orders'}" routerLink="/orders"  (click)="selectedTab('orders')" >My Orders</a>
<a class="nav-items" [ngClass]="{'active': selected === 'profile'}" routerLink="/profile" (click)="selectedTab('profile')" >My Profile</a>
<a class="nav-items" [ngClass]="{'active': selected === 'logout'}" (click)="selectedTab('logout')" >Logout</a>


</div>
