.nav-items{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    height: 40px;
    align-content: center;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    

}
.nav-items:hover {
    background-color: lightgrey;
}

.nav-items.active {
    background-color: grey;
    color: white;
}