<!-- <div style=" display: flex;flex-direction: column;  position: fixed;  ">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark " style="height:100%;">


        <div >
            <ul class="navbar-nav  " style="display: flex;flex-direction: column;">
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
                <li class="nav-item active">
                    <p style="color: white;" class="nav-link" (click)=" productsClick()">Products <span
                            class="sr-only">(current)</span></p>
                </li>

                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="profileClick()">My Profile</p>
                </li>
                <li class="nav-item">
                    <p style="color: white;" class="nav-link " (click)="logoutClick()">LogOut</p>
                </li>
            </ul>

        </div>
    </nav>
</div> -->
<div style="display: flex; flex-direction: column;   height: 100vh; background-color: aqua;overflow-y: auto;">
    
<p class="nav-items"   (click)="productsClick()" >Dashboard</p>
<p class="nav-items "  (click)="ordersClick()" >My Orders</p>
<p class="nav-items"  (click)="profileClick()"  >My Profile</p>
<p class="nav-items" (click)="logoutClick()"  >LogOut</p>
</div>