<app-mainscreen>
  <div
    style=" display:flex; justify-content: center;padding: 10px;background-color: rgb(40, 209, 85); margin-left: 0px; align-items: center; border: 1px solid;">
    <div style=" width:90% ;display: flex; justify-content: center; ">
      <h3 style="color: white; ">Products List</h3>
    </div>
    <div style="display:flex; justify-content: end; width: 20%; height: fit-content;align-items: center;"><button
        *ngIf="isAdmin" style=" border-radius: 5px; border: none;">Add Products</button></div>
  </div>
  <div class="row  m-0">
    <div class="col products ">
      <div *ngFor="let product of productsList">
        <div class="product">
          <div class="image" >
              <img  src="" alt="image">
          </div>
          <p>
            {{product.product_name}}
          </p>
          <div>
            <label for="">₹{{product.product_currentprice}}</label>
            <label style="text-decoration-line: line-through;font-weight: 400;" *ngIf="product.product_currentprice <product.product_actualprice" for="">₹{{product.product_actualprice}}</label>

          </div>
        </div>
      </div>
    </div>
  </div>

</app-mainscreen>
